<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

<h2>Besoins</h2>

<p>Cette section permet de recueillir des besoins auprès de la communauté scientifique des OSU.</p>
</br>
<div id="sample">
  <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
 
  <script type="text/javascript">
//<![CDATA[
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
  //]]>
  </script>
  <textarea name="area2" style="width: 100%;">
  Texte...
</textarea><br />
</div>

  </div>
